<% include partials/head %>
<div class="container about">
	<h1><%= title %> Us</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin arcu massa, id sollicitudin odio malesuada eu. Etiam laoreet, ipsum nec commodo vulputate, ex neque pulvinar tortor, quis condimentum urna odio finibus tellus. Donec rhoncus imperdiet vehicula. Suspendisse at risus sapien. Nullam id massa sit amet sem accumsan ultricies eget a neque. Quisque sed maximus est. Praesent eget felis nec urna consequat dictum. Sed vel lectus eleifend, interdum nisl vel, efficitur erat. Sed eget est ut lorem euismod lobortis. In maximus mattis tristique.</p>
</div>
<% include partials/footer %>
