<% include partials/head %>

<div class="container form">
	<form action="contact/send" method="POST">
	  <div class="form-group">
	    <label for="formName">Full Name</label>
	    <input type="text" class="form-control" id="formName" name="name" placeholder="Enter your name....">
	  </div>
	  <div class="form-group">
	    <label for="formEmail">Email</label>
	    <input type="email" class="form-control" id="formEmail" name="email" placeholder="Enter your email....">
	  </div>
	  <div class="form-group">
	    <label for="formMessage">Message</label>
	    <input type="text" class="form-control" id="formMessage" name="message" placeholder="Write your message">
	  </div>

	  <button type="submit" class="btn btn-primary">Send</button>
	</form>
</div>
<% include partials/footer %>